:root {
  --badge-px-sm: 0.375rem;
  --badge-px-md: 0.625rem;
  --badge-px-lg: 0.75rem;
  --badge-py-sm: 0px;
  --badge-py-md: 0.125rem;
  --badge-py-lg: 0.25rem;
  --badge-text-sm: 0.625rem;
  --badge-text-md: 0.75rem;
  --badge-text-lg: 0.875rem;
  --badge-icon-sm: 0.625rem;
  --badge-icon-md: 0.75rem;
  --badge-icon-lg: 0.875rem;
}
