:root {
  --tree-item-py-sm: 0.125rem;
  --tree-item-py-md: 0.25rem;
  --tree-item-py-lg: 0.375rem;
  --tree-item-text-sm: 0.75rem;
  --tree-item-text-md: 0.875rem;
  --tree-item-text-lg: 1rem;
  --tree-item-icon-sm: 0.875rem;
  --tree-item-icon-md: 1rem;
  --tree-item-icon-lg: 1.125rem;
}
